VITE_API_BASE_URL="http://localhost:3000"
VITE_GOOGLE_MAPS_BROWSER_KEY=
VITE_OTP_VERIFICATION_ENABLED=true
VITE_GOOGLE_ADS_ID=AW-17249057389
VITE_GOOGLE_ADS_BOOKING_LABEL=OwxRCP63nOAaEO30_qBA
VITE_GOOGLE_ADS_PHONE_CLICK_LABEL=
